@font-face {
  font-family: "Roboto Regular";
  src: url("src/fonts/Roboto-Regular.ttf");
}

body,
h1,
p {
  margin: 0;
}

body {
  font-family: "Roboto Regular";
}

nav {
  background-color: #1ad897;
  box-shadow: 0 0 6px 3px #000;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

#logo {
  width: 200px;
}

#divForm {
  display: flex;
  justify-content: center;
}

form {
  background-color: #1ad897;
  box-shadow: 0 0 6px 3px #000;
  display: flex;
  justify-content: center;
  margin: 25px;
  padding: 10px 0;
  width: 300px;
}

input {
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px 20px;
  width: 160px;
}

#template {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  background-color: #1ad897;
  border-radius: 10px;
  box-shadow: 0 0 6px 3px #000;
  color: #fff;
  height: 200px;
  margin: 15px;
  padding: 15px;
  width: 150px;
}

.card img {
  height: 150px;
  width: 150px;
}

.card h1 {
  font-size: 16px;
  width: 150px;
}

#divNumberPage {
  box-shadow: 0 0 6px 3px #000;
  background-color: #1ad897;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

#divNumberPage select {
  border: none;
  box-shadow: 0 0 6px 2px #000;
  height: 50px;
  padding: 10px;
  width: 200px;
}

#character {
  background-color: #1ad897;
  border-radius: 10px;
  box-shadow: 0 0 6px 3px #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 400px;
}

#character img,
#character h1,
#character p {
  width: 200px;
}

#character img {
  margin: 20px auto;
}

#character h1 {
  font-size: 25px;
  margin: 0 auto;
  margin-bottom: 10px;
}

#character p {
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 2px;
}

@media screen and (max-width: 700px) {
  .card {
    height: 150px;
    width: 100px;
  }

  .card img {
    height: 100px;
    width: 100px;
  }

  .card h1 {
    font-size: 15px;
    width: 100px;
  }
}

@media screen and (max-width: 500px) {
  .card {
    height: 115px;
    width: 65px;
  }

  .card img {
    height: 65px;
    width: 65px;
  }

  .card h1 {
    font-size: 10px;
    width: 65px;
  }

  #character {
    width: 300px;
  }
}