@font-face {
  font-family: "Roboto Regular";
  src: url("src/fonts/Roboto-Regular.ttf");
}

body,
h1 {
  margin: 0;
}

nav {
  background-color: #1ad897;
  box-shadow: 0 0 6px 3px #000;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

nav img {
  width: 200px;
}

#divForm {
  display: flex;
  justify-content: center;
}

form {
  background-color: #1ad897;
  box-shadow: 0 0 6px 3px #000;
  display: flex;
  justify-content: center;
  margin: 25px;
  padding: 10px 0;
  width: 300px;
}

input {
  border: none;
  font-size: 20px;
  height: 40px;
  padding: 5px 20px;
  width: 160px;
  /* margin: 0 10px; */
}

#template {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#divCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

.card {
  background-color: #1ad897;
  border-radius: 10px;
  box-shadow: 0 0 6px 3px #000;
  color: #fff;
  height: 200px;
  margin: 15px;
  padding: 15px;
  width: 150px;
}

.card img {
  height: 150px;
  width: 150px;
}

.card h1 {
  font-family: "Roboto Regular";
  font-size: 16px;
  width: 150px;
}

#divNumberPage {
  box-shadow: 0 0 6px 3px #000;
  background-color: #1ad897;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
}

#divNumberPage select {
  border: none;
  box-shadow: 0 0 6px 2px #000;
  height: 50px;
  padding: 10px;
  width: 200px;
}